.sidebar__custom {
  height: 90vh !important;
}

@media only screen and (max-width: 1920px) {
  .align-center-m-auto {
    margin: 0 0.5rem !important;
  }
  .pushable > .pusher {
    padding-left: 12rem !important;
  }
}
@media only screen and (max-width: 600px) {
  .sidebar__custom-vl {
    /* display: none !important; */
  }

  .pusher > .ui.container {
    margin: 0 0 !important;
  }
  .ui.vertical.menu {
    display: flex !important;
    flex-direction: row !important;
  }
  .pushable > .ui.sidebar {
    top: 0;
    left: 0;
    right: 0;
    height: unset !important;
    justify-content: center;
    position: sticky !important;
  }
  .pushable > .pusher {
    padding-top: 6rem !important;
    padding-left: 0rem !important;
  }
  .ui.thin.left.sidebar,
  .ui.thin.right.sidebar {
    width: 100% !important;
  }
  .rm-p {
    padding: 0 !important;
  }
  .size-menu {
    min-width: 3em !important;
  }
  .rm-p {
    padding: 0 !important;
  }
}
